<html>
<head></head>
<body>
	  <div>
	<h3>Details for user[<%= @user.id %>]</h3>
	<table>
	    <tr>
	      <th>Property</th>
	      <th>Value</th>
	    </tr>
	    <tr>
	    	<td>DeviceToken</td>
	    	<td><%= @user.deviceToken %></td>
	    </tr>
	    <tr>
	    	<td>UserToken</td>
	    	<td><%= @user.userToken %></td>
	    </tr>
	    <tr>
	    	<td>Email</td>
	    	<td><%= @user.email %></td>
	    </tr>
    </table>
</body>
</html>